<p>This is the dashboard</p>

<button type="submit" id="search">Submit</button>

<h3>I made a change again - trying to see if this change stays</h3>
<p>test</p>

<script src="/javascript/getalljobs.js"></script>