<p>This is the dashboard</p>

<button type="submit" id="themuse">theMuse</button>
<button type="submit" id="jooble">Jooble</button>

<h3>I made a change</h3>

<script src="/javascript/getalljobs.js"></script>