<h1>
    Welcome to gitDevJob!!!
</h1>
<h2>
    The compact quick search to help you find your dream job.
</h2>
<h3>
    Signup or Login below.
</h3>

<a href="/signup" class="btn btn-danger col-5 text-white">
    Need an account? Click here to signup
</a>
<a href="/login" class="btn bg-danger col-5 text-white">
    Already have an account? Click here to go to the login page.
</a>

<h3>
    New features will be added soon so check back often.
</h3>