<h1 class="sticky-top text-center">
    Welcome to gitDevJob!!!
</h1>
<div class="text-center">
    <h2>
        The compact quick-search to help you find your dream job.
    </h2>
    <h3>
        Signup or Login below.
    </h3>

    <a href="/signup" class="mx-auto btn btn-danger col-5 text-white">
        Need an account? Click here to signup
    </a>
    <a href="/login" class="mx-auto btn bg-danger col-5 text-white">
        Already have an account? Click here to go to the login page.
    </a>

    <h5>
        New features will be added soon so check back often.
    </h5>
</div>