<div class="card bg-dark p-3">
    <h1 class="text-center">
        Welcome to gitDevJob!!!
    </h1>
</div>

<div class="text-center card bg-dark p-3">
    <h2>
        The compact quick-search to help you find your dream job.
    </h2>
    <h3>
        Signup or Login below.
    </h3>
    <div class="d-flex justify-content-around mt-3 mb-3">
        <a href="/signup" class="mx-auto btn bg-primary col-5 text-white">
            Need an account? Click here to signup
        </a>
        <a href="/login" class="mx-auto btn bg-primary col-5 text-white">
            Already have an account? Click here to go to the login page.
        </a>
    </div>
    <h5>
        New features will be added soon so check back often.
    </h5>
</div>