{{!-- Welcome text c 2 buttons  
1 button href to signup
1 button href to login
 --}}

{{!-- MAKE PRETTY --}}

<a href=“/signup” class=“btn btn-danger col-5 text-white”>Need an account? Click here to signup</a>
<a href=“/login” class=“btn bg-danger col-5 text-white”>Already have an account? Click here to go to the
    login page.</a>