<div class="container">
    <section id="content" class="login-form">
        <form action="">
            <h1>Login Form</h1>
            <div>
                <input type="text" placeholder="Username" id="username-login" />
            </div>
            <div>
                <input type="password" placeholder="Password" id="password-login" />
            </div>
            <div>
                <button class="btn btn-primary text-white col-5”type=“submit">Log-in</button>
                <a href="/signup" class="btn btn-danger col-5 text-white">Need an account? Click here to signup</a>
            </div>
        </form>

    </section>
</div>

<script src="/javascript/login.js"></script>