<div class="container">
    <section id="content">
        <form class="signup-form">
            <h1>Signup Form</h1>
            <div>
                <input type="text" placeholder="Username" id="username-signup" />
            </div>
            <div>
                <input type="password" placeholder="Password" id="password-signup" />
            </div>
            <div>
                <button class=“btn bg-primary col-5 text-white” type=“submit”>Sign-up!</button>
                <a href=“/login” class=“btn bg-danger col-5 text-white”>Already have an account? Click here to go to the
                    login page.</a>

            </div>
        </form>

    </section>
</div>