<div class="container">
    <section id="content">
        <form class="signup-form align-items-center card p-3">
            <h1>Signup Form</h1>
            <div>
                <input class="m-3" type="text" placeholder="Username" id="username-signup" />
            </div>
            <div>
                <input class="m-3" type="password" placeholder="Password" id="password-signup" />
            </div>
            <div>
                <input class="m-3" type="email" placeholder="Email" id="email-signup" />
            </div>
            <div class="d-flex justify-content-around">
                <button class="btn bg-primary col-5 text-white" type="submit">Sign-up!</button>
                <a href="/login" class="btn bg-danger col-5 text-white">Already have an account? Click here to go to the
                    login page.</a>

            </div>
        </form>

    </section>
</div>